.checkout-shipping-method.opc-wrapper {
  // float: none !important;
  padding: 20px;
}

.avarda-step {
  ul {
    counter-reset: i;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      list-style-type: none;
      width: 100%;
    }
  }
}
