<?xml version="1.0"?>
<!--
/**
 * @author      Digia Commerce Oy
 * @copyright   Copyright © 2017 Digia. All rights reserved.
 * @package     Digia_AvardaCheckout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Digia\AvardaCheckout\Api\Data\PaymentDetailsInterface" type="Digia\AvardaCheckout\Model\PaymentDetails" />
    <preference for="Digia\AvardaCheckout\Api\GuestPaymentManagementInterface" type="Digia\AvardaCheckout\Model\GuestPaymentManagement" />
    <preference for="Digia\AvardaCheckout\Api\PaymentManagementInterface" type="Digia\AvardaCheckout\Model\PaymentManagement" />

    <!-- Avarda payment methods -->
    <virtualType name="AvardaCheckoutFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Digia\AvardaCheckout\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AvardaCheckoutValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaInvoiceFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Digia\AvardaCheckout\Model\Ui\Invoice\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AvardaInvoiceValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaLoanFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Digia\AvardaCheckout\Model\Ui\Loan\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AvardaLoanValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Digia\AvardaCheckout\Model\Ui\Card\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AvardaCardValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaDirectPaymentFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Digia\AvardaCheckout\Model\Ui\DirectPayment\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AvardaDirectPaymentValueHandlerPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaPartPaymentFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Digia\AvardaCheckout\Model\Ui\PartPayment\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">AvardaPartPaymentValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="AvardaCheckoutValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AvardaCheckoutConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaCheckoutConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AvardaCheckoutGenericConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaCheckoutGenericConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Digia\AvardaCheckout\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaInvoiceValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AvardaInvoiceConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaInvoiceConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AvardaInvoiceGenericConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaInvoiceGenericConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Digia\AvardaCheckout\Model\Ui\Invoice\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaLoanValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AvardaLoanConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaLoanConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AvardaLoanGenericConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaLoanGenericConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Digia\AvardaCheckout\Model\Ui\Loan\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AvardaCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AvardaCardGenericConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaCardGenericConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Digia\AvardaCheckout\Model\Ui\Card\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaDirectPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AvardaDirectPaymentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaDirectPaymentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AvardaDirectPaymentGenericConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaDirectPaymentGenericConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Digia\AvardaCheckout\Model\Ui\DirectPayment\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaPartPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AvardaPartPaymentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaPartPaymentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AvardaPartPaymentGenericConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="AvardaPartPaymentGenericConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Digia\AvardaCheckout\Model\Ui\PartPayment\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
</config>
