{
  "presets": ["env", "stage-2", "flow", "react"],
  "plugins": ["lodash"],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "development": {
      "plugins": ["react-flow-props-to-prop-types"]
    }
  }
}
