.alert {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#personalInfoNextButton {
  box-shadow: none !important;
}
#checkOutCompleteButton {
  box-shadow: none !important;
}
.btn-primary {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
  box-shadow: none !important;
}
.btn-primary:focus {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
}
.btn-primary:hover {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
}
.btn-primary:active {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
  background-image: none;
}
.btn-primary:active:hover {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
}
.btn-primary:active:focus {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
}
.btn-primary:active.focus {
  color: #f6f6f6;
  background-color: #1979c3;
  border-color: #1979c3;
}
.btn-primary .badge {
  color: #f5a510;
  background-color: #1979c3;
}
#checkOutContainer {
  background-color: #ffffff;
}
