/* #checkOutContainer {
  background-color: rgb(0, 96, 175);
  border-color: rgb(0, 96, 175);
}

#checkOutContainer #checkOutCompleteButton:enabled {
  background-color: rgb(0, 96, 175);
  border-color: rgb(0, 96, 175);
}

#checkOutContainer #ConfirmPhone {
  background-color: rgb(0, 96, 175);
  border-color: rgb(0, 96, 175);
}
*/
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  margin-left: 0px;
  width: 100%;
}
